@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");

body,
html {
  margin: 0;
}
main {
  max-width: 80vw !important;
  width: 820px;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 3rem;
}
article {
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
  line-height: 2.45rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
footer {
  text-align: center;
}
header h2 {
  margin-bottom: 0;
  margin: 0;
}
header a {
  font-size: 1.1rem;
}
footer h2 {
  text-align: right;
  margin-bottom: 4rem;
}
footer h2 a {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
