@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");

body,
html {
  margin: 0;
}
main {
  max-width: 80vw !important;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 3rem;
}
article {
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
  line-height: 2.45rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
footer {
  text-align: center;
}
header h2 {
  display: inline-block;
  margin-bottom: 0;
  margin: 0;
}
article h2 {
  text-align: right;
  font-size: 1.5rem;
}
nav {
  margin-top: 0rem;
}
a {
  text-decoration: none;
}
nav a,
nav span {
  font-size: 1.2rem;
}
header nav span {
  font-weight: bold;
}
img {
  width: 100%;
}
