/* 
  Simple responsive styling and a custom font.
*/

@import url("https://fonts.googleapis.com/css?family=Alegreya:400,400i,700&display=swap");

body,
html {
  margin: 0;
}
main {
  max-width: 80vw !important;
  width: 820px;
  margin: 0 auto;
  padding-bottom: 25vh;
  padding-top: 3rem;
  font-family: "Alegreya", serif;
}
article,
nav {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
article {
  line-height: 2.55rem;
}
nav {
  line-height: 2.25rem;
}
header {
  margin-bottom: 3.5rem;
}
h1 {
  margin-top: 4rem;
  font-size: 2rem;
  margin-bottom: 0.1rem;
  cursor: default;
}
footer h2 a {
  font-size: 1.5rem;
  color: rgb(204, 11, 28) !important;
}
nav div {
  height: 36px;
  overflow: hidden;
  margin-top: 0.5rem;
}

header a {
  font-size: 1.3rem;
  font-weight: bold;
}
footer {
  text-align: right;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
}
a,
a:visited {
  color: #555;
}
a:hover,
a:visited:hover {
  color: #333;
}
article a {
  border-bottom: 1px solid #555;
}
nav a {
  border-bottom: 0px;
}
blockquote {
  border-left: 6px solid #ddd;
  padding-left: 1rem;
  margin-left: 0;
}
del {
  opacity: 0.2;
}
nav span p {
  color: #bbb;
  margin: 0;
  padding: 0;
  display: inline;
  cursor: pointer;
}
nav label {
  margin-right: 0.5rem;
  cursor: pointer;
  color: black;
}
nav span p a {
  color: #bbb !important;
}
.list_divider {
  text-align: center;
  font-size: 2.2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
}
/* Text scaling on narrow displays */
@media only screen and (max-width: 900px) {
  article,
  nav {
    font-size: 1.35rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  article {
    line-height: 2.25rem;
  }
  nav {
    line-height: 2.15rem;
  }
  header {
    margin-bottom: 2.75rem;
  }
  header a {
    font-size: 1.2rem;
  }
  h1,
  .list_divider {
    font-size: 1.8rem;
  }
  .list_divider {
    padding-top: 1.8rem;
    padding-bottom: 2.6rem;
  }
  footer h2 a {
    font-size: 1.3rem;
  }
  nav div {
    height: 32px;
    margin-top: 0.3rem;
  }
  .start {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 600px) {
  article,
  nav {
    font-size: 1.05rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  article {
    line-height: 1.8rem;
  }
  nav {
    line-height: 1.7rem;
  }
  header {
    margin-bottom: 2rem;
  }
  header a {
    font-size: 1rem;
  }
  h1,
  .list_divider {
    font-size: 1.7rem;
  }
  .list_divider {
    padding-top: 1rem;
    padding-bottom: 2.4rem;
  }
  footer h2 a {
    font-size: 1.1rem;
  }
  nav div {
    height: 26px;
    margin-top: 0.2rem;
  }
  .start {
    margin-left: 23px;
  }
}
